<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>COVID-19 Growth Factor in the US</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <!-- Bulma -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.1/css/bulma.min.css">

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>

        <!-- <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> -->
    </head>
    <body>
        <!--[if lt IE 9]>
            <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to improve
            your experience.
            </p>
        <![endif]-->

        <section class="section" id="app-chart">
            <div class="container">
                <div>
                    <line-chart
                        v-if="loaded"
                        :chart-data="chartData"
                        :options="options"
                        :height="500"
                    />
                </div>
            </div>
            <div class="container">
                <div class="columns is-vcentered is-centered has-text-centered">
                    <div class="column">
                        <p>Trailing Moving Average Days: {{ movingAvgDays }}</p>
                        <p><input class="slider is-fullwidth is-info is-circle" v-model="movingAvgDays" type="range" min="1" max="10" value="5"></p>
                    </div>
                    <div class="column">
                        <button class="button is-primary" v-on:click="render">Update</button>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <p>By <a href="https://twitter.com/eugsun">@eugsun</a></p>
                <p>Data provided by <a href="https://covidtracking.com">The COVID Tracking Project</a></p>
                <p><a href="https://github.com/eugsun/covid19">Source</a></p>
            </div>
        </footer>

        <script src="./index.js"></script>
    </body>
</html>
